<?xml version='1.0' encoding='utf-8'?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
  <property name="connection.url">jdbc:mysql://localhost:3306/netcracker</property>
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

  <mapping class="by.netcracker.entities.FacultyEntity"/>
  <mapping class="by.netcracker.entities.SpecialityEntity"/>
  <mapping class="by.netcracker.entities.RequestStudentEntity"/>
  <mapping class="by.netcracker.entities.StudentEntity"/>
  <mapping class="by.netcracker.entities.AccountEntity"/>
  <mapping class="by.netcracker.entities.RequestEntity"/>

</session-factory>
</hibernate-configuration>